*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

p,
ul {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button,
input {
  margin: 0;
  overflow: visible;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  cursor: pointer;
}

.app,
body,
html {
  height: 100%;
}

html {
  font-family: sans-serif;

  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 960px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
  Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
  text-align: left;
  color: #212529;
  background-color: #ffffff;
}

.app {
  display: grid;

  gap: 20px;
  grid-template-rows: min-content 1fr;
}

.app__title {
  text-align: center;
}

.game__field,
.popup {
  width: 100%;
  height: 100%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup--hidden {
  display: none;
}

.popup__content {
  width: 640px;
  padding: 60px 30px;
  border-radius: 15px;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.offset {
  padding: 10px 0;
}

.container--grid {
  display: grid;

  gap: 20px;
  grid-template-areas: "bar stats"
  "board stats";
  grid-template-columns: 1fr 300px;
}

.game__bar {
  grid-area: bar;
}
.game__board {
  grid-area: board;
}

.game__stats {
  grid-area: stats;
}

.bar {
  display: grid;
  align-items: end;

  gap: 20px;
  grid-template-columns: 260px 1fr 1fr;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.controls__button {
  width: 120px;
}

.board {
  position: relative;
  width: 610px;
  height: 610px;
}

.stats__data {
  display: grid;

  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.stats__content {
  padding: 2.5px;
  text-align: center;
  border: 1px solid #000000;
}

.cube {
  position: absolute;
  overflow: hidden;
  background-color: currentColor;
  border: 2px dotted currentColor;
  transform: scale(0);
  cursor: pointer;
  animation: showCube 0.5s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.cube--clicked {
  width: 0 !important;
  height: 0 !important;
  opacity: 0;
  pointer-events: none !important;
}

@keyframes showCube {
  to {
    transform: scale(1);
  }
}


/* Form */

.form-control {
  display: block;
  width: 100%;
  min-height: 40px;
  padding: 3.75px 7.5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2.5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.form-control:focus {
  color: #495057;
  background-color: #ffffff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.form-group {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 3.75px 7.5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  vertical-align: middle;
  text-align: center;
  color: #212529;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2.5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.btn-primary {
  color: #ffffff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus {
  color: #ffffff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.5);
}

.btn-primary:disabled {
  color: #ffffff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #ffffff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.5);
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 2px rgba(216, 217, 219, 0.5);
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active {
  color: #ffffff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 2px rgba(82, 88, 93, 0.5);
}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  color: #ffffff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.btn-outline-primary:disabled {
  color: #007bff;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #ffffff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 2px rgba(248, 249, 250, 0.5);
}

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  color: #ffffff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:focus {
  box-shadow: 0 0 0 2px rgba(52, 58, 64, 0.5);
}

.btn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
  cursor: not-allowed;
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active {
  color: #ffffff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 2px rgba(52, 58, 64, 0.5);
}

.list-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
  border-radius: 2.5px;
}

.list-group-item {
  position: relative;
  padding: 2.5px;
  background-color: #ffffff;
  border: 1px solid #007bff;
}

.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.list-group-item:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.list-group-item:disabled {
  color: #6c757d;
  background-color: #ffffff;
  pointer-events: none;
}

.list-group-item + .list-group-item {
  border-top-width: 0;
}

.bg-primary {
  background-color: #007bff;
}

.bg-light {
  background-color: #f8f9fa;
}

.border {
  border: 1px solid #dee2e6;
}

.border-primary {
  border-color: #007bff;
}

.shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.w-100 {
  width: 100%;
}

.p-1 {
  padding: 2.5px;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #f8f9fa;
}
